<div id="wrapper">

  <div id="top-nav">
    <span>Group Message Home</span>
    <span>Hi, <%= @user.username %></span>
  </div>

  <div id="scrollbox">

    <span>Groups:</span><br>
    <span>
      <% @user.groups.each do |group| %>
        <%=link_to group.name, group_path(group) %><br>
      <% end %>
    </span><br>

    <span>Contacts:</span><br>

    <%= render 'groups/contact', user: @user %>

    <span>
      <% @user.contacts.each do |contact| %>
        <% if !contact.id.nil? %>
          <%= link_to contact.username, contact_path(contact) %><br>
        <% end %>
      <% end %>
    </span>
  </div>

  <div id="show_box">
    Click on a group.
  </div>

  <div class="bottom-nav" id="bottom-left">
    Bottom left
  </div>

  <div class="bottom-nav" id="bottom-right">
    Bottom right
  </div>

</div>
