<ul class="show_list">
  <% @user.contacts.uniq.each do |contact| %>
    <% unless contact.nil? %>
      <% if contact.id == @user.id %>
        <li><%= link_to contact.username, contact_path(contact) %></li>
      <% else %>
        <li><%= link_to contact.username, contact_path(contact) %><%= button_to 'x', contact_path(contact), method: :delete, data: {confirm: 'Remove Contact?'} %></li>
      <% end %>
    <% end %>
  <% end %>
</ul>
