// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#join_group_form,
#new_group_form,
#new_contact_form,
#show_contacts_list {
  padding: 5px;
  margin-left: 10px;
}

#scrollbox span {
  padding: 6px;
  color: darkgray;
}

#new_group_form ul, #show_contacts_list ul {
  color: #effbf5;
}

#new_group_form a, #show_contacts_list a {
  display: flex;
  text-decoration: none;
  color: black;
  padding: 5px;
  font-size: 1.25rem;
  font-weight: bold;
}

#new_group_form a:hover,
#show_contacts_list a:hover {
  color: rgb(205, 152, 101);
}
