// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#join_group_form,
#new_group_form,
#new_contact_form,
#show_contacts_list {
  padding: 15px;
  margin-left: 10px;
}

#new_group input[type=text] {
  width: 160px;
  padding: 4px;
}

#new_group input[type=text]:focus {
  border: 1px solid rgb(132, 86, 60);
  background-color: #f2f0ee;
  width: 160px;
  padding: 4px;
}

#scrollbox span {
  padding: 6px;
  color: darkgray;
}

#new_group_form ul, #show_contacts_list ul {
  color: #effbf5;
}

#new_group_form a, #show_contacts_list a {
  display: flex;
  color: black;
  padding: 5px;
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: none;
}

#new_group_form a:hover,
#new_group_form a:active,
#new_group_form a:focus,
#show_contacts_list a:hover,
#show_contacts_list a:active,
#show_contacts_list a:focus {

}

#join_group_form select,
#new_contact_form select {
  width: 160px;
  padding: 2.5px;
  cursor: pointer;
}

#join_group_form input[type=submit],
#new_contact_form input[type=submit] {
  width: 160px;
  padding: 4px;
  background-color: lightgray;
  border-radius: 5px;
  width: 100px;
}

#join_group_form input[type=submit]:hover,
#new_contact_form input[type=submit]:hover {
  color: white;
  background-color: black;
}

#new_group_form input[type=submit],
#show_contacts_list input[type=submit] {
  background-color: #effbf5;
  color: red;
  border: none;
  cursor: pointer;
}

#new_group_form input[type=submit]:hover,
#show_contacts_list input[type=submit]:hover {
  // background-color: red;
  // color: white;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: white;
  cursor: pointer;
}

.show_list li {
  display: flex;
  align-items: center;
}

.show_list li:hover {
  background: white;
  cursor: pointer;
}
