// Place all the styles related to the GroupMessages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com

#wrapper {
  width: 100%;
}

#top-nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 60px;
  width: 100%;
}


#scrollbox {
  position: fixed;
  width: 250px;
  height:100vh;
  left: 0;
  right: 0;
  overflow-y: scroll;
  top: 60px;
}

#show_box {
  margin: 60px 0 0 250px;
  padding: 0 30px;
  overflow-y: scroll;
  position: fixed;
  left: 0;
  top: 0;
  height:100vh;
}

#bottom-nav {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 60px;
  width: 59rem;
  background-color: white;
}
