// Place all the styles related to the GroupMessages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#scrollbox {
  float: left;
  height: 750px;
  width: 15rem;
  overflow: scroll;
}
