// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#contact_name_h1, #group_name_h1 {
  position: fixed;
  background-color: white;
  margin: 0 2rem;
  width: 100%;
  top: 80px;
  border-bottom: 1px solid lightgray;
  padding: 5px;
}

.name {
  font-weight: bold;
}

.time {
  color: rgba(185, 185, 185, 1);
}
.convo {
  margin-right: 14rem;
  margin-top: 3.5rem;
}

.message {
  list-style-type: none;
  align-items: end;
  border-bottom: 1px solid black;
  padding: 1rem;
  background-color: #f2f0ee;
}

#message_content, #group_message_content {
  width: 70%;
  height: 3rem;
  border: 1px solid gray;
  font-size: 1.25rem;
  padding: 10px;
}
